
.album-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30%;
  margin: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  .album-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;

    .album-title-container {
      font-size: 5vw;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.753);
      min-width: 50%;
    }
  }
}
@media (min-width:576px){
  @keyframes contrast {
    from {
      filter: contrast(1);
    }
    to {
      filter: contrast(1.5);
    }
  }
  .album-card {
    align-items: center;
    width: 48%;
    height: 50%;
    cursor: pointer;
    &:hover {
      animation: contrast 500ms forwards;
    }
  
    .album-link {
      .album-title-container {
        font-size: 2vw;
        background-color: rgba(0, 0, 0, 0.753);
      }
    }
  }
  
}
