body,html{
  // background: #c04848;
  // background: linear-gradient(to right, #c04848, #480048);
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  // max-height: 100vh;
  margin: 0;
  
}
.App{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#root{
  height: 100%;
}