.image-slider-main-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  justify-content: center;
  align-items: center;

  .slide {
    width: 90%;
    height: 90%;
    .slide-content {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      button{
        background-color: rgba(0, 0, 0, 0.739);
        color: white;
        border: none;
      }
      .close-modal-btn,
      .arrow-btns-container {
        position: absolute;
        opacity: 1;
      }
      .close-modal-btn {
        top: 15%;
        left: 0;
        display: flex;
        justify-content: center;
        left: 0;
        width: 100%;
        height: 10%;
      }

      .arrow-btns-container {
        bottom: 0;
        border: 0px;
        width: 100%;
        height: 7%;
        display: flex;
        justify-content: center;
        button {
          width: 50%;
          height: 100%;
          margin: 1px;
        }
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
@media (min-width: 576px){
  .image-slider-main-container {
    .slide {
      .slide-content {
        .close-modal-btn,
        .arrow-btns-container {
          position: absolute;
          opacity: 0;
          &.fade-in {
            transition: opacity 1s;
            opacity: 1;
          }
        }
        .close-modal-btn {
          background: rgb(78, 22, 13);
          top: 0;
          width: 10%;
          height: 10%;
        }
        .arrow-btns-container {
          width: 20% ;
        }
      }
    }
  }
  
}