.container {
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.37);
  // padding: 0px 10px;
  .logo-container {
    display: flex;
    justify-content: center;
    height: 10%;
    .brand-logo {
      width: 90%;
      height: 100%;

      &:hover {
        #g5324 path {
          fill: #f56468 !important;
        }
      }
    }
  }
  .nav-wrapper {
    height: 80%;
    .menu-links-group {
      height: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      .activeLink {
        color: #f56468;
      }
      .menu-link {
        height: 20%;
        border-bottom: 1px solid transparent;
        font-size: 1.2vw;
        &:hover {
          background-color: rgba(182, 182, 182, 0.253);
        }
        a {
          height: 100%;
          max-width: 100%;
          display: flex;
          align-items: flex-end;
          padding-left: 20px;
        }
      }
    }
  }
  .media-container {
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  a {
    color: white;
    text-decoration: none;
    .font-awesome-icon{
      height: 4vh;
      width: 5vw;
    }
    &:hover {
      color: #f56468;
    }
  }
}
