.wrapper{
  display: flex;
  flex-direction: column;
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.479);
  .menu-container{
 width: 100%; 
  }
  .children-container{
    position: relative;
    height: 100%;
    .content-container{
      &.page-enter {
        opacity: 0;
      }
      &.page-enter-active {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        opacity: 1;
        transition: opacity 600ms ease-in-out;
      }
      &.page-exit {
        opacity: 1;
      }
      &.page-exit-active {
        opacity: 0;
        transition: opacity 600ms ease-in-out;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
      }
    }
  }
}
@media(min-width:576px){
  .wrapper {
    flex-direction: row;
    width: 96vw;
    height: 96vh;
    border-radius: 5px;
    .menu-container {
      min-width: 20%;
      max-width: 20%;
    }
    .children-container {
      min-width: 80%;
      max-width: 80%;
    }
  }
  
}
