.content-container {
  overflow: auto;
  &.about {
    display: flex;
    justify-content: center;
    .about-photo {
      width: 100%;
      height: 40vh;
    }
    .about-content {
      width: 90%;
      h2 {
      }
      p {
        text-align: justify;
      }
    }
  }
}
@media (min-width: 576px) {
  .content-container {
    &.about {
      justify-content: space-between;
      .about-content {
        width: 48%;
        margin-left: 20px;
        h2 {
        }
        p {
          margin-left: 10px;
          text-align: justify;
        }
      }
      .photos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-top: 20px;
        img {
          width: 70%;
          max-height: 50vh;
          margin: 10px;
        }
      }
    }
  }
}
